.categories-chips__container-modalrecords
    max-height: 8rem

.categories-chips__container-modalrecords
    &::-webkit-scrollbar
        width: .8rem

    &::-webkit-scrollbar-track
        background: rgb(255, 255, 255)
        padding: 5px

    &::-webkit-scrollbar-thumb
        background: rgb(153, 153, 153)
